@model Sms
@{
    ViewData["Title"] = "Edit Sms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/core/jquery.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Edit Sms</h4>
                <p class="card-category">Edit Sms</p>
            </div>
            <div class="card-body">
                <form method="post" asp-action="edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="Types" type="hidden" />
                                <label asp-for="Body" class="control-label">Body</label>
                                <textarea asp-for="Body" class="form-control" cols="10" rows="5"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>