<h4>
    If you have an account with us, we have sent an email
    with the instructions to reset your password.
</h4>

@*localhost:44305/Account/ResetPassword?email=pragim@pragimtech.com&token=CfDJ8HpirsZUXNxBvU8n%2..*@