@model TaskManagementSystem.Models.MenuItem

@{
    ViewData["Title"] = "Create Menu Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Create MenuItem for @ViewBag.ParentMenuName</h4>
                <p class="card-category">Add New MenuItem</p>
            </div>
            <div class="card-body">
                <form asp-action="createitem" method="post">
                    <input asp-for="Id" type="hidden" value="@Convert.ToInt64(DateTime.Now.ToString("yyyyMMddHHmmssff"))" />
                    <input asp-for="ParentMenuId" type="hidden" value="@Model.ParentMenuId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Name" class="bmd-label-floating">Name</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label asp-for="ActionName" class="bmd-label-floating">Action Name</label>
                                <input asp-for="ActionName" type="text" class="form-control">
                                <span asp-validation-for="ActionName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Url" class="bmd-label-floating">Url</label>
                                <input asp-for="Url" type="text" class="form-control">
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
   
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.ParentMenuId">Back to List</a>
</div>