@model TaskManagementSystem.Models.Menu

@{
    ViewData["Title"] = "Edit Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Edit Menu</h4>
                <p class="card-category">Update Menu</p>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Name" class="bmd-label-floating">Name</label>
                                <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Edit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>